.table td {
    text-align: center;
}
.table th {
    text-align: center;
}
#threshold_slider .slider-selection {
    background: #BABABA;
}
.table .td-align_left {
    text-align: left;
}
.page-header {
    margin: 0 0 21px;
}
.menu-raw {
    display: block !important;
}
